.bg-custom-green {
  background-color: #16a34a;
}

.text-custom-green {
  color: #16a34a;
}

.border-custom-light-green {
  border-color: #bbf7d0;
}

.focus\:border-custom-green:focus {
  border-color: #16a34a;
}
